// Style variables based on style guide
$primary-color: hsl(47, 88%, 63%);
$white-color: hsl(0, 0%, 100%);
$grey-color: hsl(0, 0%, 50%);
$black-color: hsl(0, 0%, 7%);
$font-family: 'Figtree', sans-serif;

// Mobile and desktop breakpoints
$mobile-width: 375px;
$laptop-width: 1048px;


@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    background-color: $primary-color;
    display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: auto;

}

// Base card styles
.card {
    background: $white-color;
    padding: 20px;
    //width: 100%; // Flexible width for responsiveness
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: $font-family;
    border: 1px solid black;
    margin: 5%;
    box-shadow: 10px 10px 5px $black-color;



    .card-header {
        // display: flex;
        // justify-content: space-between;
        margin-bottom: 20px;

        .hero-image {
            max-width: 100%;

            img {
                width: 100%;
                border-radius: 8px;
                
            }
        }

        .category {
            background-color: $primary-color;
            color: $black-color;
            font-weight: 800; // Bold weight as per style guide
            width: fit-content;
            font-size:smaller ;
            padding: 5px 8px;
            border-radius: 5px;
            margin: 5% 0;
        }

        .publication-date {
            color: $black-color;
            font-size:smaller ;
        }
    }

    .card-content {
        .title {
            color: $black-color;
            font-weight: 800; // Bold weight as per style guide
            margin-bottom: 10px;
            font-size: large;
            &:hover{
                color:$primary-color;
                cursor: pointer;
            }
        }


        .description {
            color: $grey-color;
            font-size: 16px; // Body copy font size as per style guide
            margin-bottom: 20px;
        }

        .author {
            display: flex;
            align-items: center;

            img {
                border-radius: 50%;
                margin-right: 5%;
                width: 10%;
            }

            .name {
                color: $black-color;
                font-weight: 800; // Medium weight as per style guide
                font-size: smaller;
            }
        }
    }
}


@media (min-width:768px){
    .card{
        max-width: 23%;
       
    }
}